#nav{margin:10px;text-align:center;line-height:25px;width:200px;font-size:18px;}
li{
/*去除前面的黑點*/
	list-style:none;
}
#wrapper #nav li a{
	/*指定所有左側選單超連結顏色*/
	color: #0000FF;
}
/*
background:#336699	背景為深暗藍色
color:#fff 文字為白色
background:#888	背景為暗灰色
color:#000 文字為黑色
border-bottom 邊框樣式
background:#ddd 背景為亮灰色
--------------
.title->左側功能選單未展開
.title1->左側功能選單已展開
.content li->左側功能選單內容
*/
.title{background:#336699;color:#fff;border-bottom:1px solid #fff;cursor:pointer;font-size:18px;}
.title1{background:#888;color:#000;border-bottom:1px solid #666;cursor:pointer;font-size:18px;}
.content li{color:#336699;background:#ddd;border-bottom:1px solid #fff;font-size:18px;}
