@charset "utf-8";
/* CSS Document */
<style type="text/css">
p ,h1,h2,h3,h4,h5,h6,ol,ul,li,table,th,td,tr{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "新細明體", "Times New Roman";
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	/*background-image: url(../images/template_img/bg.png);*//*背景圖*/
	/*background-repeat: repeat;*//*背景小圖重複填滿*/
	background-color: #FFFFFF;/*背景顏色*/
}
p ,h1,h2,h3,h4,h5,h6,ul,ol,li,table,tr,td,th{
	margin: 0px;
	padding: 0px;
}

#wrapper {
	/*設定整個網頁的寬度，如果畫面比網頁寬度大就置中*/
	width: 1720px;/*1000px*/
	margin-right: auto;
	margin-left: auto;
}
#wrapper #header {
	/*設定天的 ICON和畫面大小*/
	background-image: url(../images/base/head_logo.png);
	background-repeat: no-repeat;/*背景小圖不重複填滿*/
	height: 100px;
	width: 1620px;/*900px*/
}
#wrapper #navigation table {
	width: 1620px;/*900px*/
}
#wrapper #navigation {
	background-image: url(../images/template_img/template_02.jpg);
	background-repeat: no-repeat;
	margin-top:10px;/*導航列距離天的距離*/
	height: 30px;
	width: 1720px;/*1000px*//*導航列寬度*/
	margin: 0px;
}
#wrapper #content {
	margin-top:10px;/*主體距離導航列的距離*/
	width: 1720px;/*1000px*/
}
#wrapper #header #icon_table tr td p a {
	font-family: "新細明體", "Times New Roman";
	font-size: 0.8em;
	color: #000000;
	text-decoration: none;
}
#wrapper #header #icon_table {
	float: right;
	margin-right: 120px;
}
#wrapper #header #icon_table tr td a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper #navigation table tr td p {
	/*設定 「歡迎使用jash進銷存」的字型相關*/
	font-family: "新細明體", "Times New Roman";
	font-size: 1.2em;
	text-align: center;
	color: #0000FF;
}
#wrapper #navigation table tr td a {
	/*設定 導航功能-超連結*/
	font-family: "新細明體", "Times New Roman";
	font-size: 1.3em;
	text-align: center;
	color: #0000FF;
	/*畫出虛線外框*/
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: dotted;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;	
}
#wrapper #navigation table tr td a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper #navigation table tr td p a {
	text-decoration: none;
	color: #FFF;
}
#wrapper #content #left {
	background-color: #FFF;
	width: 225px;/*身體左邊選單寬度*/
	float: left;	
}
#wrapper #content #left #if1 {
	/*frameborder="0" width="225px" height="600px"*/
	border:none;
	height: 600px;
}
#wrapper #content #right  #if2 {
	border:none;
	width: 1305px;/*700px*/ /*從這裡來的 [#wrapper #content #right]*/
	height: 1024px
}
#wrapper #content #right {
	background-image: url(../images/template_img/template_04.jpg);
	background-repeat: repeat-y;
	float: left;
	width: 1350px;/*745px*/ /*身體右邊內容寬度*/
	height: 1024px;/*身體高度定義*/
	
	/*畫出虛線外框*/
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: dotted;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;		
}
#wrapper #footer {
	background-image: url(../images/template_img/template_05.jpg);
	background-repeat: no-repeat;
	height: 30px;
	width: 1000px;/*地的寬度*/
	float: left;
	margin: 0px;
	padding: 0px;
}
</style>
